<div class="contents bottom-sticky" ref="contents">
  <section class="row booking-info">
    <div class="tit-wrap">
      <h3 class="subtit">{{ $t('sev.applicant-info') }}</h3>
    </div>
    <dl class="form-group-row">
      <dt>{{ $t('comm.name') }}<span class="required"><span class="blind">{{ $t('comm.required') }}</span></span></dt>
      <dd>{{userInfo.NAME}}</dd>
<!-- 비로그인 case spec out -->
<!--      <dd class="modify" style="display: block">-->
<!--        <div class="input-box"><input ref="applicant" type="text" :placeholder="$t('comm.input-name')"></div>-->
<!--      </dd>-->
    </dl>
    <!-- 06.05 수정: 버튼 및 안내문구 추가, 통신사 선택 spec out, 07.09 수정: sms 인증 삭제 -->
    <dl class="form-group-row">
      <dt><label for="info1-1">{{ $t('sev.contact-number') }}<span class="required"><span class="blind">{{ $t('comm.required') }}</span></span></label></dt>
      <dd class="texts-info" v-html="$t('sev.applicant-info-guide')">
      <dd class="modify">
        <div class="input-box mobile">
          <ui-select
            :data="[
              {text: '010', value: 'value0', selected: true},
              {text: '011', value: 'value1'},
              {text: '017', value: 'value2'},
              {text: '018', value: 'value3'},
              {text: '019', value: 'value4'},
            ]"
          ></ui-select>
          <input ref="certification" type="tel" maxlength="8" id="info1-1" :placeholder="$t('comm.only-number')" v-model="contactNumber">
          <p>
            <input type="checkbox" id="info1-2" v-model="isCertificationAgree"><label for="info1-2">{{ $t('sev.agree-personal-information') }}</label>
            <a class="btn-link">{{ $t('comm.read-terms') }}</a>
          </p>
        </div>
      </dd>
    </dl>
    <!-- //06.05 수정, 07.09 수정 -->
  </section>
  <section class="row booking-info">
    <div class="tit-wrap">
      <h3 class="subtit">{{ $t('sev.student-info') }}</h3>
    </div>
    <dl class="form-group">
      <dt>
        <label for="info3-1">{{ $t('sev.student') }}<span class="required"><span class="blind">{{ $t('comm.required') }}</span></span></label>
        <span v-on:click="applicantSame" class="chk-side"><input type="checkbox" id="info3-2" v-model="applicantSameFlag">
          <label for="info3-2">{{ $t('sev.applicant-same') }}</label>
        </span>
      </dt>
      <dd class="input-box"><input ref="student" type="text" id="info3-1" v-model="participantName" :placeholder="$t('comm.input-name')"></dd>
      <dt><label for="info4">{{ $t('sev.student-number') }}</label></dt>
      <dd class="input-box mobile">
        <!-- 07.09 추가 -->
        <ui-select
          :data="[
              {text: '010', value: 'value0', selected: true},
              {text: '011', value: 'value1'},
              {text: '017', value: 'value2'},
              {text: '018', value: 'value3'},
              {text: '019', value: 'value4'},
            ]"
        ></ui-select>
        <!-- //07.09 추가 -->
        <input type="tel" maxlength="8" id="info4" v-model="participantMDN" :placeholder="$t('comm.only-number')"> <!-- 07.09 maxlength 추가 -->
      </dd>
      <dt>{{ $t('sev.applicant-relationship') }}</dt>
      <dd class="input-box">
        <ui-select
          :data="[
              {text: $t('sev.principal'), value: 'value0'},
              {text: $t('sev.spouse'), value: 'value1'},
              {text: $t('sev.parent'), value: 'value2'},
              {text: $t('sev.children'), value: 'value3'},
              {text: $t('sev.grand-parent'), value: 'value4'},
              {text: $t('comm.etc'), value: 'value5'}
            ]"
        ></ui-select>
      </dd>
    </dl>
    <dl class="form-group">
      <dt>{{ $t('sev.student-age-group') }}</dt>
      <dd>
        <ul class="list-option col3">
          <li><input type="radio" name="option" id="option1" checked><label for="option1">20{{ $t('sev.age-group-under') }}</label></li>
          <li><input type="radio" name="option" id="option2"><label for="option2">20{{ $t('sev.age-group') }}</label></li>
          <li><input type="radio" name="option" id="option3"><label for="option3">30{{ $t('sev.age-group') }}</label></li>
          <li><input type="radio" name="option" id="option4"><label for="option4">40{{ $t('sev.age-group') }}</label></li>
          <li><input type="radio" name="option" id="option5"><label for="option5">50{{ $t('sev.age-group') }}</label></li>
          <li><input type="radio" name="option" id="option6"><label for="option6">60{{ $t('sev.age-group-over') }}</label></li>
        </ul>
      </dd>
      <dt>{{ $t('sev.student-sex') }}</dt>
      <dd>
        <input type="radio" name="rdo1" id="rdo1-1" checked><label for="rdo1-1">{{ $t('comm.man') }}</label>
        <input type="radio" name="rdo1" id="rdo1-2"><label for="rdo1-2">{{ $t('comm.woman') }}</label>
      </dd>
    </dl>
  </section>
  <div class="btn-wrap sticky">
     <a class="btn-solid big" @click.prevent="clickComplete">{{ $t('sev.apply-complete') }} <i class="ico-check"></i></a>
  </div>
</div>
