<div class="contents" ref="contents">
    <div class="member">
        <!--    <p></p>-->
        <dl class="details-info">
            <!--      <dt v-if="myInfo.TID_SUBS_ID">{{ $t('comm.id') }}</dt>-->
            <!--      <dd>{{myInfo.TID_SUBS_ID}}</dd>-->
            <dt v-if="myInfo.MDN">{{ $t('comm.phone-number') }}</dt>
            <dd v-if="myInfo.MDN">{{ myInfo.MDN }}</dd>
            <dt v-if="myInfo.NAME">{{ $t('comm.name') }}</dt>
            <dd>{{ myInfo.NAME }}</dd>
        </dl>
        <div class="list-terms">
            <h3>{{ $t('etc.change-agree-list') }}</h3>
            <ul>
                <li>
                    <input v-model="USER_INFO_AGREEMENT_YN" type="checkbox" name="agree-terms" id="terms0"
                           @change="onAgree($event, 'USER_INFO_AGREEMENT_YN')">
                    <label for="terms0">고객 혜택 제공을 위한 개인정보 수집이용 동의 (선택)</label>
                    <a href="https://tshop-terms.s3.ap-northeast-2.amazonaws.com/03_service_term.html"><i></i><span
                            class="blind">{{ $t('etc.detail-view') }}</span></a>
                </li>
                <li>
                    <input v-model="MARKETING_AGREEMENT_YN" type="checkbox" name="agree-terms" id="terms1"
                           @change="onAgree($event, 'MARKETING_AGREEMENT_YN')">
                    <label for="terms1">광고성 정보 수신 동의 (선택)</label>
                    <a href="https://tshop-terms.s3.ap-northeast-2.amazonaws.com/04_service_term.html"><i></i><span
                            class="blind">{{ $t('etc.detail-view') }}</span></a>
                </li>
            </ul>
        </div>
    </div>

    <modals-container></modals-container>
    <v-dialog></v-dialog>
</div>
