<div class="contents" ref="contents">
  <div class="setting">
    <!-- 비로그인 시 -->
    <template v-if="!isLogin">
      <div class="setting-header">
        <p>{{ $t('etc.please-login') }}</p>
        <a @click="tidLoginRedirect" class="btn-basic xsmall">{{ $t('comm.login') }}</a>
      </div>
      <ul class="list-setting">
        <li>
          <a @click="settingOpen" v-if="mobileOS === 'A'|| mobileOS === 'I'">
            <em>{{ $t('etc.app-setting') }}</em>
            <p>{{ $t('etc.app-setting-text') }}</p>
          </a>
        </li>
      </ul>
    </template>

    <!-- 로그인 시 -->
    <template v-if="isLogin">
      <div class="setting-header">
          {{myInfo.NAME}}
        <a v-if="signInType === 'tid'" @click="tidLogout" class="btn-basic xsmall">{{ $t('comm.logout') }}</a>
        <a v-if="signInType === 'pass_sms'" @click="passLogout" class="btn-basic xsmall">{{ $t('comm.logout') }}</a>
      </div>
      <ul class="list-setting">
        <li>
          <router-link to="/member">
            <em>회원 정보 관리</em>
            <p>T Factory 약관 동의 내역을 변경하려면 이동해주세요.</p>
          </router-link>
        </li>
<!--        <li>-->
<!--          <router-link v-if="myInfo.USER_TYPE === 'tid_cert'" to="/lineinfo">-->
<!--            <em>{{ $t('etc.line-info-management') }}</em>-->
<!--            <p>{{ $t('etc.line-info-management-text') }}</p>-->
<!--          </router-link>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a @click.prevent="deleteCheckinInfo">-->
<!--            <em>{{ $t('etc.checkin-info') }}</em>-->
<!--            <p>{{ $t('etc.checkin-info-text') }}</p>-->
<!--          </a>-->
<!--        </li>-->
        <li>
          <router-link to="/leave">
            <em>{{ $t('etc.leave-setting') }}</em>
            <p>{{ $t('etc.leave-text') }}</p>
          </router-link>
        </li>
        <li>
          <a @click="settingOpen" v-if="mobileOS === 'A'|| mobileOS === 'I'">
            <em>{{ $t('etc.app-setting') }}</em>
            <p>{{ $t('etc.app-setting-text') }}</p>
          </a>
        </li>
      </ul>
    </template>
  </div>
</div>
