<!--<div v-bind:class="{ 'bottom-sticky': bookingAvailable }" class="contents" ref="contents">-->
<div class="contents bottom-sticky" ref="contents">
  <!-- slide -->
  <div class="slider-prd">
    <img src="../../../images/program/class8-slide1.jpg" alt="T Factory X FLO 입덕콘 | 2021.03 나상현씨밴드">
  </div>
  <!-- //slide -->
  <!-- details -->
  <div class="details">
    <div class="details-header">
      <em class="flag-solid7">CONCERT</em>
      <h2 class="details-tit">3월의 덕콘 01.나상현씨밴드</h2>

      <div class="tags">
        <span class="flag-basic">공연 관람형</span>
        <span class="flag-basic">소규모 콘서트</span>
        <span class="flag-basic">홍대 인디밴드</span>
      </div>
      <p class="desc">
        [T Factory X FLO 덕콘] 첫 번째 <br>
        입덕을 부르는 아티스트를 소개하는 입덕콘, <br>나상현씨밴드와 함께합니다. <br><br>

        3월의 덕콘<br>
        01. 입덕콘 - 나상현씨밴드<br>
        02. 덕후콘 - 브로콜리너마저
      </p>
    </div>
    <div class="details-inner">
      <h3 class="subtit">T Factory x FLO 소개</h3>
      <div class="thumb"><img src="../../../images/program/class8-conts2.jpg" alt="T Factory x FLO 입덕후콘서트"></div>
      <p>
        T Factory와 FLO가 함께 만드는 팬 초청 소규모 콘서트를 소개합니다.
        매월 입덕하고 싶은 아티스트와 덕후팬이 많은 아티스트를 선정하여 콘서트를 진행합니다. <br>
        본 콘서트는 무료로 진행되며, 선정된 아티스트가 직접 낸 팬심고사를 통과한 팬들 중 추첨을 통해 초청권을 드립니다.
      </p>
      <h3 class="subtit">나상현씨밴드 소개</h3>
      <div class="thumb"><img src="../../../images/program/class8-conts.jpg" alt=""></div>
      <p>
        친숙하지만 뻔하지 않은, <br>
        우리들을 노래하는 나상현씨밴드.<br>
        나상현씨(기타,보컬)을 중심으로 강현웅(드럼), 백승렬(베이스)이 모여 3인조로 노래를 연주한다.<br>
        2014년에 결성된 그들은 밴드음악을 기반으로 다양한 장르적 방향성을 통해 보통의 이야기들을 풀어낸다.<br>
        2019년 채널A &lt;보컬플레이2&gt;를 통해 서울대밴드로 이름을 알렸으며,
        2020년에는 제 31회 유재하 음악경연대회 장려상, 그린플러그드 신인 그린프렌즈 우승, 인디스땅스 TOP13 등 경연에서도 좋은 성과를 거두고 있다.
        2019년부터 지난 2년간 40여 곡을 발표할 만큼 활발한 창작활동을 보여주고 있다.
      </p>
      <h3 class="subtit">{{ $t('prd.schedule-place')}}</h3>
      <ul class="texts-list">
        <li>일정 : 3월12일(금) 19시</li>
        <li>응모기간 : 3.5(금) ~ 3.9(화)</li>
        <li>당첨자 발표 : 3.10(수)</li>
        <li>장소 : T Factory 2층, 0 Stage</li>
      </ul>

      <div class="notice">
        <h4 class="subtit">{{ $t('prd.notice')}}</h4>
        <ul class="texts-info">
          <li>* 본 공연은 팬심고사를 완료하신 분들 중 추첨을 통해 선정되며, 선정자에게만 개별 연락이 갈 예정입니다. </li>
          <li>* 정부의 방역지침 변경이 있을 시 공연의 주요 내용도 변경이 있을 수 있습니다.</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- //details -->
  <!-- button set -->
  <!--
  <div v-if="bookingAvailable" class="btn-wrap sticky">
    <a @click.prevent="bookProgram" class="btn-solid">프로그램 예약</a>
  </div>
  -->
  <div class="btn-wrap sticky">
    <a v-if="isLogin" href="https://bd3ig7ut4mo.typeform.com/to/KUwJqguI" class="btn-solid" target="_blank">콘서트 응모하기</a>
    <a v-else href="#none" @click.prevent="login" class="btn-solid">콘서트 응모하기</a>
  </div>
  <!-- //button set -->
</div>
