<div class="contents bottom-sticky" ref="contents">
  <!-- slide -->
  <div class="slider-prd">
    <img src="../../../images/program/class20-slide1.jpg" alt="T Factory X FLO 덕후콘 | 2021.04 후추스">
  </div>
  <!-- //slide -->
  <!-- details -->
  <div class="details">
    <div class="details-header">
      <em class="flag-solid7">CONCERT</em>
      <h2 class="details-tit">4월의 덕콘<i class="pipe"></i>후추스</h2>
      <div class="tags">
        <span class="flag-basic">공연관람형</span>
        <span class="flag-basic">소규모콘서트</span>
        <span class="flag-basic">인디밴드</span>
      </div>
      <p class="desc type2">
        <em>[T Factory X FLO 덕콘] 05</em>
        입덕을 부르는 아티스트, 후추스의 매력에 빠져보세요.
      </p>
      <p class="desc type2">
        <em>4월의 덕콘</em>
        03. 덕후콘 - 안예은<br>
        04. 입덕콘 - 불고기디스코<br>
        05. 입덕콘 - 후추스<br>
        06. 덕후콘 - 페퍼톤스
      </p>
    </div>
    <div class="details-inner">
      <h3 class="subtit">T Factory x FLO 덕콘</h3>
      <div class="thumb"><img src="../../../images/program/class18-conts2.jpg" alt="T Factory x FLO 입덕후콘서트"></div>
      <p>
        T Factory와 FLO가 함께 만드는 팬 초청 소규모 콘서트를 소개합니다. <br>
        매월 입덕하고 싶은 아티스트와 덕후팬이 많은 아티스트를 선정하여 콘서트를 진행합니다. <br>
        본 콘서트는 무료로 진행되며, 선정된 아티스트가 직접 낸 팬심고사를 통과한 팬들 중 추첨을 통해 초청권을 드립니다.
      </p>
      <h3 class="subtit">후추스 소개</h3>
      <div class="thumb"><img src="../../../images/program/class20-conts.jpg" alt=""></div>
      <p>
        후추스는 ‘김정웅’ 의 원맨밴드로 2014년 정규 1집 ‘우리는’, 2019년 정규 2집 ‘너의 일부’를 발표했다. <br>
        청춘의 가삿말과 사운드를 들려주는 밴드에서 위로의 노래를 부르는 싱어송라이터로 변모하였다. <br>
        이 전에는 공연과 페스티벌 위주의 다양한 활동을 펼쳐왔다면, 달라진 상황 속에서 의미 있고 재미있는 음악 활동들을 위해 고민하고 있다.
      </p>
      <h3 class="subtit">{{ $t('prd.schedule-place')}}</h3>
      <ul class="texts-list">
        <li>일정 : 4월 16일(금) 19시</li>
        <li>응모기간 : 4월 7일(목) ~ 4월 13일(화)</li>
        <li>당첨자 발표 : 4월 14일(수)</li>
        <li>장소: T Factory 2층, 0 Stage</li>
      </ul>
      <div class="notice">
        <h4 class="subtit">{{ $t('prd.notice')}}</h4>
        <ul class="texts-info">
          <li>* 본 공연은 팬심고사를 완료하신 분들 중 추첨을 통해 선정되며, 선정자에게만 개별 연락이 갈 예정입니다.</li>
          <li>* 정부의 방역지침 변경이 있을 시 공연의 주요내용도 변경이 있을 수 있습니다.</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- //details -->
  <!-- button set -->
  <div class="btn-wrap sticky">
    <button v-if="expired" type="button" class="btn-solid" disabled>콘서트 응모 마감</button>
    <template v-else>
      <a v-if="commingSoon" href="#none" @click.prevent="$event => $event.preventDefault()" class="btn-solid">COMING SOON</a>
      <template v-else>
        <a v-if="isLogin" href="#none" class="btn-solid" target="_blank">콘서트 응모하기</a>
        <a v-else href="#none" @click.prevent="login" class="btn-solid">콘서트 응모하기</a>
      </template>
    </template>
  </div>
  <!-- //button set -->
</div>
