<div class="contents bottom-sticky" ref="contents">
  <section class="satisfaction-survey">
    <dl class="form-group">
      <dt class="subtit" style="padding: 0;">{{ programName }} 어떠셨나요?</dt>
      <dd>
        <div class="rate">
          <div class="star-rate">
            <span :style="{width: (20 * star) + '%'}"></span>
            <input type="radio" name="star-rate" v-model="star" :value="1">
            <input type="radio" name="star-rate" v-model="star" :value="2">
            <input type="radio" name="star-rate" v-model="star" :value="3">
            <input type="radio" name="star-rate" v-model="star" :value="4">
            <input type="radio" name="star-rate" v-model="star" :value="5">
          </div>
        </div>
        <p class="subtxt" v-show="star === 1">많이 아쉬워요.</p>
        <p class="subtxt" v-show="star === 2">아쉬워요.</p>
        <p class="subtxt" v-show="star === 3">보통이에요.</p>
        <p class="subtxt" v-show="star === 4">만족해요!</p>
        <p class="subtxt" v-show="star === 5">최고예요!</p>
      </dd>
    </dl>
    <dl class="form-group">
      <dt>추가 의견을 말씀해주세요.</dt>
      <dd>
        <textarea placeholder="작성해주신 의견은 공개되지 않으며 T Factory 내부에서만 활용됩니다." v-model="comment"></textarea>
      </dd>
    </dl>
  </section>

  <!-- button set -->
  <div class="btn-wrap sticky">
      <a href="" class="btn-solid" target="_blank" @click.prevent="confirmSubmit">제출</a>
  </div>
  <!-- //button set -->
</div>
