<div class="contents bottom-sticky my-detail" ref="contents">
  <section class="row">
    <span class="flag-solid2" v-if="status === 'apply'">신청완료</span>
    <span class="flag-solid2" v-else-if="status === 'success'">
      <template v-if="bookingType === 'field_buy' || bookingType === 'field'">신청완료</template>
      <template v-else>예약완료</template>
    </span>
    <span class="flag-solid3" v-else-if="status === 'complete'">참여완료</span>
    <span class="flag-solid5" v-else-if="status === 'operator_assigned'">접수완료</span>
    <span class="flag-solid5" v-else-if="status === 'cancel' || status === 'canceled_by_operator'">취소</span>
    <span class="flag-solid3" v-else-if="status === 'counseling'">상담중</span>
    <span class="flag-solid5" v-else-if="status === 'not'">미방문</span>
    <span class="flag-solid2" v-else-if="status === 'selected'">당첨</span>
    <span class="flag-solid5" v-else-if="status === 'not_selected'">미당첨</span>

    <h2 class="tit-order">
      <template v-if="bookingType === 'program' && bookingDetail['BOOKING_TYPE'] === 'select'">신청 번호</template>
      <template v-else-if="bookingType === 'field_buy' || bookingType === 'field'">접수 번호</template>
      <template v-else>예약 번호</template>
      <em> {{ bookingDetail.BOOK_CODE }}</em>
    </h2>
  </section>
  <section class="row">
    <dl class="details-info">
      <template v-if="bookingType === 'program'">
        <dt>프로그램 명</dt>
        <dd>{{ bookingDetail.PROGRAM_CLASS_NAME }}</dd>
      </template>

      <dt v-if="bookingType === 'experience'">{{ $t('sev.tab-experience') }}</dt>
      <dt v-if="bookingType === 'counseling' || bookingType === 'field_buy' || bookingType === 'field'">상담 유형</dt>
      <dd v-if="bookingType === 'counseling' || bookingType === 'field_buy' || bookingType === 'field'">{{ bookingDetail.COUNSELING_NAME }}</dd>

      <dt v-if="bookingType === 'program'">프로그램 일시</dt>
      <dt v-else>상담 일시</dt>
      <dd>{{ bookingDetail.DATE }}</dd>
    </dl>

    <!-- 프로그램 -->
    <dl class="details-info" v-if="bookingType === 'program'">
      <template v-if="bookingDetail['BOOKING_TYPE'] === 'basic'">
        <dt>참여자</dt>
        <dd>{{bookingDetail.USER_NAME}}({{bookingDetail.USER_PHONE_NUMBER | mdnFilter}})</dd>
      </template>
      <template v-else-if="bookingDetail['BOOKING_TYPE'] === 'select'">
        <dt>참여자</dt>
        <dd v-if="parseInt(bookingDetail['ATTENDEE_NUM']) > 1">{{bookingDetail.USER_NAME}}({{bookingDetail.USER_PHONE_NUMBER | mdnFilter}}) 외 {{ parseInt(bookingDetail['ATTENDEE_NUM']) - 1 }}인</dd>
        <dd v-else>{{bookingDetail.USER_NAME}}</dd>
      </template>
    </dl>

    <!-- 체험존 -->
    <dl class="details-info" v-else-if="bookingType === 'experience'">
      <dt>{{ $t('sev.visitor') }}</dt>
      <dd>{{bookingDetail.USER_NAME}}({{bookingDetail.USER_PHONE_NUMBER}})</dd>
    </dl>

    <!-- 상담 -->
    <dl class="details-info" v-else-if="bookingType === 'counseling' || bookingType === 'field_buy' || bookingType === 'field'">
      <dt>{{ $t('sev.customer-name') }}</dt>
      <dd v-if="bookingDetail.USER_NICKNAME">{{bookingDetail.USER_NICKNAME}} ({{bookingDetail.USER_PHONE_NUMBER | mdnFilter}})</dd>
      <dd v-else-if="!bookingDetail.USER_NICKNAME && bookingDetail.USER_NAME">{{bookingDetail.USER_NAME}} ({{bookingDetail.USER_PHONE_NUMBER | mdnFilter}})</dd>
      <dd v-else-if="!bookingDetail.USER_NICKNAME && !bookingDetail.USER_NAME">({{bookingDetail.USER_PHONE_NUMBER | mdnFilterForBooking}})</dd>
    </dl>

    <dl class="details-info" v-if="bookingType === 'counseling' && (status !== 'cancel')">
      <dt>{{ $t('my.counselor') }}</dt>
      <dd v-if="bookingDetail.OPERATOR_ID !== null" class="counselor">
        <figure>
          <img :src="bookingDetail.OPERATOR_IMAGE_URL" alt="">
          <figcaption>{{bookingDetail.OPERATOR_NAME}} 매니저</figcaption>
        </figure>
        <p v-if="bookingDetail.OPERATOR_INTRODUCE_MSG">"{{bookingDetail.OPERATOR_INTRODUCE_MSG}}"</p>
      </dd>
      <dd v-else>상담원 배정 중입니다.</dd>
    </dl>

    <dl class="details-info type2">
      <dt>{{ $t('sev.booking-shop') }}</dt>
      <dd>{{ bookingDetail.STORE_NAME }}</dd>
      <dt>{{ $t('sev.booking-location') }}</dt>
      <dd>{{bookingDetail.ZONE_NAME}}</dd>
      <!-- 09.18 안내도 영역 수정 -->
      <dd class="img-store">
        <div class="inner">
          <img :src="bookingDetail.ZONE_FLOOR_IMAGE_URL">
          <img :src="bookingDetail.ZONE_MARKER_IMAGE_URL">
        </div>
      </dd>
    </dl>

    <template v-if="bookingDetail['STATUS'] !== 'canceled_by_operator'">
      <p class="texts-info" v-if="bookingType === 'counseling' && status ==='success'">* {{ $t('my.booking-success-guide') }}</p> <!-- 예약 성공일 때 노출 -->
<!--      <p class="texts-info" v-if="(bookingType === 'field_buy' || bookingType === 'field') && status ==='success'">* {{ $t('my.consult-success-guide') }}</p> &lt;!&ndash; 예약 성공, 대기 일 떄 노출 &ndash;&gt;-->
    </template>
  </section>

  <!-- // bottom sticky -->
  <div class="btn-wrap sticky" v-if="status === 'apply'">
      <a class="btn-line big" @click.prevent="clickCancel">취소</a>
      <router-link v-if="bookingDetail.APPLY_PROGRESS === 'ONGOING'" :to="'/my/applicationModify?store_id=' + bookingDetail.STORE_ID + '&bookId=' + bookingDetail.BOOK_ID" class="btn-line big">수정</router-link>
  </div>
  <div class="btn-wrap sticky" v-else-if="status === 'success'">
    <template v-if="bookingDetail.STATUS == 'ordered' && bookingType !== 'field_buy' && bookingType !== 'field'">
      <a class="btn-line big" @click.prevent="clickCancel">{{ $t('comm.cancel') }}</a>
      <router-link :to="'/my/booking/' + bookingType + '/modify?store_id=' + bookingDetail.STORE_ID + '&book_id=' + bookingDetail.BOOK_ID" class="btn-line big">{{ $t('comm.modify') }}</router-link>
    </template>
    <template v-if="bookingDetail.STATUS == 'operator_assigned' || (bookingType === 'field_buy' || bookingType === 'field')">
      <a class="btn-line big" @click.prevent="clickCancel">{{ $t('my.consult-cancel') }}</a>
    </template>
  </div>
  <div class="btn-wrap sticky" v-else-if="status === 'selected'">
    <a class="btn-line big" @click.prevent="clickCancel">당첨 취소</a>
  </div>
  <!-- bottom sticky // -->

  <section class="row" v-if="bookingDetail['STATUS'] === 'canceled_by_operator'">
    <dl class="details-info type2">
      <dt>취소사유</dt>
      <dd style="margin-top:12px;width: 100%;">
        본 예약은 관리자에 의해 취소되었습니다.<br>자세한 내용은 안내된 MMS 참조 바랍니다.
      </dd>
    </dl>
  </section>
</div>
