<div class="contents bottom-sticky my-detail" ref="contents">
  <section class="row">
    <span class="flag-solid2" v-if="status === 'apply'">{{ $t('sev.apply-complete') }}</span>                                       <!-- 신청 완료 -->
    <span class="flag-solid2" v-else-if="status === 'success'">{{ $t('sev.booking-complete') }}</span>                              <!-- 예약 완료 -->
    <span class="flag-solid5" v-else-if="status === 'cancel'">{{ $t('comm.cancel') }}</span>                                        <!-- 취소 -->
    <span class="flag-solid5" v-else-if="status === 'complete'">참여완료</span>                                                       <!-- 종료 -->
    <span class="flag-solid3" v-else-if="status === 'counseling'">{{ $t('sev.doing-counseling') }}</span>                           <!-- 상담중 -->
    <span class="flag-solid5" v-else-if="status === 'not'">{{ $t('sev.not-visit') }}</span>                                         <!-- 미방문 -->
    <span class="flag-solid5" v-else-if="status === 'standby'">{{ $t('sev.waiting') }}</span>                                       <!-- 대기 -->
    <span class="flag-solid2" v-else-if="status === 'selected'">{{ $t('sev.winning') }}</span>                                      <!-- 당첨 -->
    <span class="flag-solid5" v-else-if="status === 'not_selected'">{{ $t('sev.not-drawn') }}</span>                                <!-- 미당첨 -->

    <h2 v-if="status === 'apply'" class="tit-order">{{ $t('sev.application-number') }} <em>{{bookingDetail.BOOK_CODE}}</em></h2>
    <h2 v-else class="tit-order">{{ $t('sev.booking-number') }} <em>{{ bookingDetail.BOOK_CODE }}</em></h2>
  </section>
  <section class="row">
    <dl class="details-info">
      <dt>{{ $t('sev.booking-shop') }}</dt>
      <dd>{{ bookingDetail.STORE_NAME }}</dd>

      <dt v-if="bookingType === 'program'">프로그램 명</dt>
      <dd v-if="bookingType === 'program'">{{ bookingDetail.PROGRAM_CLASS_NAME }}</dd>

      <dt v-if="bookingType === 'experience'">{{ $t('sev.tab-experience') }}</dt>
      <dt v-if="bookingType === 'counseling' || bookingType === 'field_buy' || bookingType === 'field'">{{ $t('my.consult-name') }}</dt>
      <dd v-if="bookingType === 'counseling' || bookingType === 'field_buy' || bookingType === 'field'">{{ bookingDetail.COUNSELING_NAME }}</dd>

      <dt v-if="bookingType === 'program'">
        <template v-if="programType === 'basic'">프로그램 일시</template>
        <template v-else-if="programType === 'select'">신청 일시</template>
      </dt>
      <dt v-else-if="bookingType === 'experience' || bookingType === 'counseling'">{{ $t('sev.booking-date') }}</dt>
      <dt v-else-if="bookingType === 'field_buy' || bookingType === 'field'">{{ $t('sev.apply-date') }}</dt>
      <dd>{{ bookingDetail.DATE }}</dd>
    </dl>

    <!-- 프로그램 -->
    <dl class="details-info" v-if="bookingType === 'program'">
      <dt v-if="status === 'apply'">{{ $t('sev.applicant') }}</dt>
      <dt v-else>{{ $t('sev.student') }}</dt>
      <dd>{{bookingDetail.USER_NAME}}({{bookingDetail.USER_PHONE_NUMBER | mdnFilter}})</dd>
    </dl>

    <!-- 체험존 -->
    <dl class="details-info" v-else-if="bookingType === 'experience'">
      <dt>{{ $t('sev.visitor') }}</dt>
      <dd>{{bookingDetail.USER_NAME}}({{bookingDetail.USER_PHONE_NUMBER}})</dd>
    </dl>

    <!-- 상담 -->
    <dl class="details-info" v-else-if="bookingType === 'counseling' || bookingType === 'field_buy' || bookingType === 'field'">
      <dt>{{ $t('sev.customer-name') }}</dt>
      <dd v-if="bookingDetail.USER_NICKNAME">{{bookingDetail.USER_NICKNAME}} ({{bookingDetail.USER_PHONE_NUMBER | mdnFilter}})</dd>
      <dd v-else="!bookingDetail.USER_NICKNAME && bookingDetail.USER_NAME">{{bookingDetail.USER_NAME}} ({{bookingDetail.USER_PHONE_NUMBER | mdnFilter}})</dd>
      <dd v-else="!bookingDetail.USER_NICKNAME && !bookingDetail.USER_NAME">({{bookingDetail.USER_PHONE_NUMBER | mdnFilterForBooking}})</dd>
    </dl>

    <dl class="details-info" v-if="(bookingType === 'counseling' || bookingType === 'field_buy' || bookingType === 'field') && (status !== 'cancel')">
      <dt>{{ $t('my.counselor') }}</dt>
      <dd v-if="bookingDetail.OPERATOR_ID !== null" class="counselor">
        <figure>
          <img :src="bookingDetail.OPERATOR_IMAGE_URL" alt="">
          <figcaption>{{bookingDetail.OPERATOR_NAME}} 매니저</figcaption>
        </figure>
        <p v-if="bookingDetail.OPERATOR_INTRODUCE_MSG">"{{bookingDetail.OPERATOR_INTRODUCE_MSG}}"</p>
      </dd>
      <dd v-else>상담원 배정 중입니다.</dd>
    </dl>

    <dl class="details-info type2">
      <dt>{{ $t('sev.booking-location') }}</dt>
      <dd>{{bookingDetail.ZONE_NAME}}</dd>
      <!-- 09.18 안내도 영역 수정 -->
      <dd class="img-store">
        <div class="inner">
          <img :src="bookingDetail.ZONE_FLOOR_IMAGE_URL">
          <img :src="bookingDetail.ZONE_MARKER_IMAGE_URL">
        </div>
      </dd>
    </dl>

    <template v-if="bookingType === 'counseling'">
      <p class="texts-info" v-if="status ==='success'">* {{ $t('my.booking-success-guide') }}</p> <!-- 예약 성공일 때 노출 -->
    </template>
    <template v-else-if="bookingType === 'field_buy' || bookingType === 'field'">
      <p class="texts-info" v-if="status ==='success'">* {{ $t('my.consult-success-guide') }}</p> <!-- 예약 성공, 대기 일 떄 노출 -->
    </template>
  </section>

  <!-- // bottom sticky -->
  <div class="btn-wrap sticky" v-if="status === 'apply'">
      <a class="btn-line big" @click.prevent="clickCancel">취소</a>
      <router-link v-if="bookingDetail.APPLY_PROGRESS === 'ONGOING'" :to="'/my/applicationModify?store_id=' + bookingDetail.STORE_ID + '&bookId=' + bookingDetail.BOOK_ID" class="btn-line big">수정</router-link>
  </div>
  <div class="btn-wrap sticky" v-else-if="status === 'success'">
    <template v-if="bookingDetail.STATUS == 'ordered' && bookingType !== 'field_buy' && bookingType !== 'field'">
      <a class="btn-line big" @click.prevent="clickCancel">{{ $t('comm.cancel') }}</a>
      <router-link :to="'/my/booking/' + bookingType + '/modify?store_id=' + bookingDetail.STORE_ID + '&book_id=' + bookingDetail.BOOK_ID" class="btn-line big">{{ $t('comm.modify') }}</router-link>
    </template>
    <template v-if="bookingDetail.STATUS == 'operator_assigned' || (bookingType === 'field_buy' || bookingType === 'field')">
      <a class="btn-line big" @click.prevent="clickCancel">{{ $t('my.consult-cancel') }}</a>
    </template>
  </div>
  <div class="btn-wrap sticky" v-else-if="status === 'selected'">
    <a class="btn-line big" @click.prevent="clickCancel">당첨 취소</a>
  </div>
  <!-- bottom sticky // -->

  <section class="row" v-if="bookingDetail['STATUS'] === 'canceled_by_operator'">
    <dl class="details-info type2">
      <dt>취소사유</dt>
      <dd style="margin-top:12px;width: 100%;">
        관리자에 의해 취소된 프로그램입니다.
      </dd>
    </dl>
  </section>


  <!-- 21.03.30 추가 : 만족도 조사
  <div class="btn-wrap sticky">
    <button type="button" class="btn-line big">{{ $t('my.satisfaction-registration') }}</button>          // 설문조사 등록
    <button type="button" class="btn-line big disabled">{{ $t('my.satisfaction-completed') }}</button>    // 설문조사 완료
  </div>
  21.03.30 추가 : 만족도 조사 -->
</div>
