@charset "utf-8";
@import "common/variables";
@import "common/mixins";
.btn {
  &-wrap {
    @include flexbox;
    button, a {
      position:relative;
      flex:1;
      font-size:$fs-base;
      line-height:24px;
      text-align:center;
      border-radius:28px;
      & + a, & + button {
        margin-left:16px;
      }
    }
    &.sticky {
      position:fixed;
      right:0;
      bottom:0;
      left:0;
      z-index:10;
      width:100%;
      padding-bottom:constant(safe-area-inset-bottom);
      padding-bottom:env(safe-area-inset-bottom);
      background-color:#fff;
      &:before {
        content:'';
        position:absolute;
        top:-12px;
        left:0;
        width:100%;
        height:12px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.06) 71%, rgba(0, 0, 0, 0.08));
      }
      button, a {
        padding:16px 0;
        height:56px;
        border-radius:0;
        & + a, & + button {
          margin-left:0;
          border-left-width:0;
        }
      }
    }
    &.unset {
      display:block;
      a, button {
        display:block;
        width:100%;
        & + a, & + button {
          margin-top:8px;
          margin-left:0;
        }
      }
    }
  }
  &-favorite {
    position:absolute;
    input[type="checkbox"]{
      width:18px;
      height:16px;
      border:0;
      background-color:transparent;
      &:after {
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:24px;
        height:24px;
        @include iconImg($x:0,$y:-50px);
      }
      &:checked {
        background-color:transparent;
        &:after {
          border:0;
          background-position:-25px -50px;
          @include transform(rotate(0));
        }
      }
      & + label {
        padding-left:0;
        font-size:1px;
      }
    }
  }
  &-reservation {
    border:1px solid $primary;
    background-color:#fff;
    color:$primary;
  }
  &-buy {
    background-image:linear-gradient(110deg, #f76252, #cd3630 97%);
    color:#fff;
  }
  &-call { // gradient
    color:$fc-invert;
    border:1px solid $secondary;
    color:$secondary;
    &:focus, &:active {
      background-color:rgba(222, 36, 50, 0.08);
    }
  }
  &-more {
    height:48px;
    padding:13px 0 15px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #fafafa;
    background-color: #ffffff;
    font-size:$fs-small !important;
    line-height:22px !important;
    letter-spacing:-.08px;
    color:#101010;
    &:before {
      content:'';
      width:20px;
      height:20px;
      margin:-4px 4px 0 0;
      @include iconImg($x:-50px,$y:-100px);
    }
    &.small {
      display:inline-block;
      width:40px;
      height:40px;
      padding:12px;
      border-radius:100%;
      text-align:center;
      &:before {
        width:17px;
        height:16px;
        margin:-5px 0 0;
        background-position:-100px -325px;
      }
    }
  }
  &-del {
    position:absolute;
    top:12px;
    right:12px;
    width:24px;
    height:24px;
    @include iconImg($x:-25px,$y:-100px);
  }
  &-line { // primary 적용 된 라인
    color:$primary;
    border:1px solid $primary;
    &:focus, &:active {
      background-color:#ece8f4;
    }
    & + & {
      //border-left:0;
    }
  }
  &-basic { // gray 적용 된 라인
    color:#505050;
    border:1px solid #BCBCBC;
    &:focus, &:active {
      background-color:#f4f4f4;
    }
  }
  &-solid { // gradient
    color:$fc-invert;
    background-color:$primary;
    //background-image: linear-gradient(100deg, #9060d8, #5050d0);
    &:focus, &:active {
      //background-image: linear-gradient(100deg, #7848be, #3d3db9);
    }

  }
  &-link {
    color:#505050;
    text-decoration:underline !important;
    &-point {
      color:$primary;
      text-decoration:underline !important;
    }
  }
  &-map {
    width:36px;
    height:36px;
    @include iconImg($x:-300px,$y:-150px);
  }
  &-tel {
    width:48px;
    height:48px;
    @include iconImg($x:-150px,$y:-150px);
  }
  &-tmap {
    width:36px;
    height:36px;
    @include iconImg($x:-300px,$y:-100px);
  }
}
[class^="btn"] {
  &.big {
    padding:16px 0;
    height:56px;
  }
  &.medium {
    padding:13px 0;
    height:48px;
    @include font-set14;
  }
  &.small {
    padding:9px 0;
    height:40px;
    border-color:$line-color;
    @include font-set14;
  }
  &.xsmall {
    display:inline-block;
    min-width:60px;
    height:36px;
    padding:6px 16px 8px;
    color:#787878;
    vertical-align:middle;
    text-align:center;
    border-radius:22px;
    @include font-set14;
  }
  &.disabled, &:disabled {
    border-color:#f0f0f0;
    background-color:#f0f0f0;
    color:#bcbcbc;
    &:focus, &:active {
      background-color:#f0f0f0;
    }
  }
}
.tab-wrap {
  &.sticky {
    .tabs {
      position:fixed;
      top:56px;
      right:0;
      left:0;
      z-index:10;
      width:100%;
      background-color:#fff;
    }
    .tab-conts {
      padding-top:88px;
    }
  }
  .tabs {
    @include flexbox;
    width:100%;
    padding:0 20px;
    background:linear-gradient(to left, rgba(64, 64, 64, 0), rgba(91,91,91,.8) 48%, rgba(116, 116, 116, 0) 100%) no-repeat 50% 100%;
    background-size:100% 1px;
    li {
      flex:1;
      button, a {
        display:block;
        width:100%;
        padding:13px 0;
        font-size:$fs-small;
        line-height:1.57;
        text-align:center;
        color:#787878;
      }
    }
    &.scroll {
      overflow-y:auto;
      margin-bottom:-16px;
      display:block;
      white-space:nowrap;
      -webkit-overflow-scrolling:touch;
      background-position:50% calc(100% - 16px);
      li {
        flex:none;
        display:inline-block;
        margin-right:4px;
        padding-bottom:16px;
        button, a {
          padding:14px 14px 13px;
        }
      }
      &::-webkit-scrollbar {
        display:none;
      }
    }
    .active {
      button, a {
        position:relative;
        font-weight:$fw-medium;
        color:#000;
        &:after {
          content:'';
          display:block;
          position:absolute;
          left:0;
          bottom:0;
          width:100%;
          height:4px;
          background-color:#000;
          border-radius:2px;
          -webkit-box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.16);
        }
      }
    }
  }
  .tab-conts {
    display:none;
    padding:40px 20px 60px;
    &.active {
      display:block;
    }
    .tit-tab {
      @include font-set24;
    }
  }
}
.tabs-page {
  @include flexbox;
  width:100%;
  border-bottom:1px solid #e6e6e6;
  li {
    flex:1;
    button, a {
      display:block;
      width:100%;
      padding:17px 20px;font-size:$fs-small;
      line-height:1.57;
      letter-spacing:-.08px;
      text-align:center;
      color:#787878;
    }
  }
  .active {
    button, a {
      position:relative;
      font-weight:$fw-medium;
      color:#000;
      &:after {
        content:'';
        display:block;
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:3px;
        background-color:#000;
      }
    }
  }
}
.ico-check {
  position:absolute;
  top:4px;
  right:8px;
  width:48px;
  height:48px;
  @include iconImg($x:-200px, $y:0);
}
.ico-ai {
  width:69px;
  height:24px;
  @include iconImg($x:-275px,$y:-75px,$display:block);
}
// error
.error {
  .header:after {
    display:none;
  }
  .contents {
    position:fixed;
    width:100%;
    height:100%;
    padding:56px 32px 32px;
    text-align:center;
    &.nav-type {
      .btn-wrap {
        bottom:96px;
      }
    }
  }
  .tit {
    margin:20px 0;
    color:#000;
    @include font-set28;
    strong {
      color:$primary;
      font-weight:$fw-medium;
    }
  }
  .logo {
    width:196px;
    height:56px;
    margin:60px auto 4px;
    @include logoImg($x:0, $y:-160px, $display:block);
  }
  .date {
    margin-top:32px;
    color:#505050;
    @include font-set14;
    dt {
      margin-bottom:4px;
      font-weight:$fw-medium;
      color:#282828;
      &:before {
        content:'';
        width:16px;
        height:16px;
        margin:-2px 4px 0 0;
        @include iconImg($x:0, $y:-100px);
      }
    }
  }
  p {
    @include font-set14;
    color:#505050;
  }
  .btn-wrap {
    position:absolute;
    left:32px;
    bottom:32px;
    width:calc(100% - 64px);
  }
}

// date picker
.datepicker {
  margin:0 -20px;
  padding:0 20px;
  &.swiper-container-horizontal > .swiper-scrollbar {
    bottom:0;
    left:20px;
    width:calc(100% - 40px);
    height:2px;
    background-color:#f0f0f0;
    .swiper-scrollbar-drag {
      //border-radius:0;
      background:$primary;
    }
  }
}
.list-date {
  overflow-x:auto;
  -webkit-overflow-scrolling:touch;
  margin:0 -20px;
  padding:0 20px 16px;
  white-space:nowrap;
  font-size:0;
  li {
    display:inline-block;
    position:relative;
    &:not(:first-of-type) {
      margin-left:12px;
    }
  }
  input[type="radio"] {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    border:0;
    background-color:transparent;
    & + label {
      display:block;
      padding-left:0;
      font-size:12px;
      color:#505050;
      text-align:center;
    }
    &:checked {
      &:after {
        display:none;
      }
      & + label {
        color:#000;
        .date {
          background-color:$primary;
          font-weight:$fw-bold;
          color:$fc-invert;
        }
      }
    }
    &[disabled] {
      & + label {
        color:#bcbcbc;
      }
    }
  }
  .date {
    display:block;
    width:32px;
    height:32px;
    margin-top:4px;
    padding:7px 0 6px;
    border-radius:100%;
    font-size:$fs-base;
    line-height:19px;
    letter-spacing:-.1px;
  }
}

//dropdown
.dropdown, .multi-num {
  position:relative;
  &.disabled, &[disabled] {
    button, a {
      pointer-events:none;
      border-color:#F0F0F0;
      background-color:#F0F0F0;
      color:#959595;
    }
  }
  button, a {
    display:block;
    position:relative;
    width:100%;
    padding:10px 48px 10px 11px;
    font-size:$fs-small;
    line-height:22px;
    text-align:left;
    border-radius:22px;
    &:after {
      content:'';
      position:absolute;
      top:50%;
      @include transform(translateY(-50%));
    }
    &[disabled] {
      border-color:#F0F0F0;
      background-color:#F0F0F0;
      color:#959595;
    }
  }
  .btn-dropdown {
    border:1px solid #d0d0d0;
    &:after {
      right:11px;
      width:16px;
      height:16px;
      @include iconImg($x:-250px,$y:-50px);
    }
  }
  .list-dropdown {
    display:none;
    position:absolute;
    width:100%;
    top:0;
    right:0;
    left:0;
    z-index:100;
    border:1px solid #d0d0d0;
    border-radius:22px;
    background-color:#fff;
    -webkit-box-shadow:0 4px 16px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .12);
    overflow:hidden;
    &.active {
      display:block;
    }
    li:nth-of-type(n+2) {
      border-top:1px solid $line-color;
    }
    button, a {
      &:after {
        right:15px;
        width:24px;
        height:24px;
        @include iconImg($x:-275px,$y:-50px);
      }
      &:focus {
        -webkit-box-shadow:0 2px 8px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .12);
        &:after {
          @include iconImg($x:-300px,$y:-50px);
        }
      }
    }
    .active {
      -webkit-box-shadow:0 2px 8px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .12);
      button:after, a:after {
        @include iconImg($x:-300px,$y:-50px);
      }
    }
    .disabled {
      button:after, a:after {
        display:none;
      }
    }
  }
  &.active {
    .list-dropdown {
      display:block;
    }
  }
}

// options
.list-option {
  font-size:0;
  li {
    display:inline-block;
    position:relative;
    margin-left:8px;
    vertical-align:top;
  }
  input[type="radio"], input[type="checkbox"] {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    &:checked + label{
      border-color:$secondary;
      background-color:#fff7f8;
      font-weight:$fw-medium;
      color:$secondary;
    }
    &[disabled] + label {
      border-color:#f0f0f0;
      background-color:#f0f0f0;
      color:#bcbcbc;
      & + .num {
        color:#bcbcbc;
      }
    }
    & + label {
      display:block;
      padding:9px 0 7px;
      border:1px solid #bcbcbc;
      font-size:$fs-small;
      line-height:22px;
      color:#787878;
      letter-spacing:0;
      text-align:center;
      border-radius:20px;
      & + span {
        display:block;
        margin-top:2px;
        font-size:12px;
        line-height:1.5;
        letter-spacing:-.06px;
        text-align:center;
      }
      & + .num {
        color:#959595;
      }
      & + .info {
        font-weight:$fw-medium;
        color:$accent;
      }
    }
  }
  &.col3 {
    li {
      width:calc((100% - 16px) / 3);
      &:nth-of-type(3n+1) {
        margin-left:0;
      }
      &:nth-of-type(n+4) {
        margin-top:8px;
      }
    }
  }
  &.col4 {
    li {
      width:calc((100% - 24px) / 4);
      &:nth-of-type(4n+1) {
        margin-left:0;
      }
      &:nth-of-type(n+5) {
        margin-top:8px;
      }
    }
  }
  &.flexible {
    margin-bottom:-8px;
    li {
      margin:0 8px 8px 0;
    }
    input[type="radio"], input[type="checkbox"] {
      & + label {
        padding:9px 11px 7px;
      }
    }
  }
  &.type1 {
    input[type="radio"], input[type="checkbox"] {
      &:checked + label{
        border-color:#df76b7;
        background-color:transparent;
        color:#df76b7;
      }
    }
  }
  &.type2 {
    input[type="radio"], input[type="checkbox"] {
      &:checked + label{
        border-color:#56b4f9;
        background-color:transparent;
        color:#56b4f9;
      }
    }
  }
  &.type3 {
    input[type="radio"], input[type="checkbox"] {
      &:checked + label{
        border-color:#4086d6;
        background-color:transparent;
        color:#4086d6;
      }
    }
  }
  &.type4 {
    input[type="radio"], input[type="checkbox"] {
      &:checked + label{
        border-color:#1aa4a4;
        background-color:transparent;
        color:#1aa4a4;
      }
    }
  }
  &.type5 {
    input[type="radio"], input[type="checkbox"] {
      &:checked + label{
        border-color:#000;
        background-color:transparent;
        color:#000;
      }
    }
  }
}
.texts-info {
  padding-left:10px;
  font-size:12px;
  letter-spacing:-.06px;
  color:#787878;
  text-indent:-10px;
  word-break:keep-all;
  li:nth-of-type(n+2) {
    margin-top:4px;
  }
}
.texts-req {
  font-size:$fs-small;
  line-height:22px;
  color:#787878;
}
.texts-list {
  color:#787878;
  @include font-set14;
  li {
    padding-left:9px;
    word-break:keep-all;
    &:before {
      content:'-';
      display:inline-block;
      width:9px;
      margin-left:-9px;
      vertical-align:top;
    }
  }
}
.step-list {
  counter-reset: step;
  color:#787878;
  @include font-set14;
  > li {
    padding-left: 22px;
    &:before {
      content: counter(step);
      counter-increment: step;
      display: inline-block;
      min-width: 16px;
      height: 16px;
      margin: -2px 6px 0 -22px;
      border-radius: 100%;
      background-color: $primary;
      color: $fc-invert;
      font-size: 10px;
      line-height: 16px;
      box-sizing: border-box;
      text-align: center;
      vertical-align: middle;
    }
    &:nth-of-type(n+2) {
      margin-top: 4px;
    }
  }
  ul { margin-top:4px; }
}
.row {
  position:relative;
  padding:24px 20px 0;
  + .row {
    margin-top:44px;
    &:before {
      content:'';
      position:absolute;
      top:-12px;
      left:0;
      width:100vw;
      height:12px;
      background-color:#f0f0f0;
    }
  }
  &:last-of-type, &:only-child {
    padding-bottom:0;
  }
}
.no-content, .no-keywords {
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  color:#505050;
  text-align:center;
  @include transform(translateY(-50%));
  &:before {
    content:'';
    width:64px;
    height:64px;
    margin:0 auto 16px;
    @include iconImg($x:-225px, $y:-275px, $display:block);
  }
}
.no-keywords {
  &:before {
    background-position:-225px -200px;
  }
}
[class^="flag"] {
  display:inline-block;
  padding:3px 8px;
  color:$fc-invert;
  @include font-set12;
  vertical-align:top;
  border-radius:12px;
  &[class*="line"] {
    padding:2px 6px;
  }
}
.flag {
  &-recomm, &-solid1 {
    background-color:#f09858;
  }
  &-solid2 {
    background-color:#80b4f0;
  }
  &-solid3 {
    background-color:#f8a090;
  }
  &-solid4 {
    background-color:#68c0c0;
  }
  &-solid5 {
    background-color:#bcbcbc;
  }
  &-solid6 {
    color:$primary;
    background-color:#ece8f4;
  }
  &-solid7 {
    background-color:$secondary;
    font-weight:$fw-bold;
  }
  &-basic {
    padding:2px 6px;
    border:1px solid $line-color;
    background-color:#fff;
    color:#4b4b4b;
  }
  &-line1 {
    border:1px solid rgba(223, 118, 183, 0.2);
    color:#DF76B7;
  }
  &-line2 {
    border:1px solid rgba(86, 180, 249, 0.2);
    color:#56B4F9;
  }
  &-line3 {
    border:1px solid rgba(26, 164, 164, 0.2);
    color:#1AA4A4;
  }
  &-line4 {
    border:1px solid rgba(64, 134, 214, 0.2);
    color:#4086D6;
  }
}
// complete
.complete {
  .ico-complete {
    width:80px;
    height:80px;
    margin:20px auto 8px;
    @include iconImg($x:0,$y:-225px,$display:block);
  }
  .prd-thumb {
    margin:20px auto 8px;
    text-align:center;
  }
  .tit {
    margin-bottom:32px;
    font-size:$fs-big;
    font-weight:$fw-medium;
    line-height:1.5;
    text-align:center;
  }
  .desc {
    margin:-16px 0 32px;
    @include font-set14;
    text-align:center;
    strong {
      color:$primary;
    }
  }
  .details-info {
    margin-bottom:24px;
    padding:24px 0;
    border:solid $line-color;
    border-width:1px 0;
    dt {
      width:120px;
      padding:0 0 0 20px;
    }
    dd {
      width:calc(100% - 120px);
      padding:0 20px 0 16px;
    }
  }
}

.required {
  &:before {
    content:'*';
    display:inline-block;
    color:$secondary;
    vertical-align:top;
  }
}
.tit-wrap {
  margin-bottom:20px;
  &:after {
    @include clearer;
  }
  .subtit {
    float:left;
    font-size:$fs-big;
    font-weight:$fw-medium;
    line-height:1.5;
    letter-spacing:-.14px;
  }
  .required {
    &:before {
      width:10px;
      margin-left:2px;
    }
  }
  .btn-basic {
    float:right;
    margin-bottom:-6px;
  }
  .date {
    float:left;
    margin-top:4px;
    font-size:$fs-small;
    line-height:22px;
    letter-spacing:-.08px;
    color:#959595;
    &:before {
      content:'';
      display:inline-block;
      width:1px;
      height:12px;
      margin:-2px 8px 0;
      background-color:#bcbcbc;
      vertical-align:middle;
    }
  }
}

// form
.form {
  &-group {
    position:relative;
    dt {
      padding-top:24px;
      font-size:$fs-small;
    }
    dd {
      padding-top:8px;
    }
    label + input[type="checkbox"],
    label + input[type="radio"] {
      margin-left:15.9375%;
    }
    .chk-side {
      float:right;
    }
    + .form-group {
      margin-top:32px;
      &:before {
        content:'';
        position:absolute;
        top:0;
        left:-20px;
        width:100vw;
        border-top:1px solid $line-color;
      }
    }
  }
  &-group-row {
    margin:0 -20px;
    font-size:0;
    dt, dd {
      display:inline-block;
      padding:20px;
      font-size:$fs-small;
      vertical-align:top;
    }
    dt {
      position:relative;
      width:109px;
      &:after {
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        width:100vw;
        border-bottom:1px solid $line-color;
      }
      &:last-of-type:after {
        display:none;
      }
    }
    dd {
      width:calc(100% - 109px);
    }
    .btn-basic {
      float:right;
      margin:-8px 0;
    }
    dd.texts-info {
      display:block;
      width:100%;
      padding:0 20px 32px 30px;
      font-size:12px;
      text-indent:-9px;
    }
  }
}

// has bottom sticky button
.bottom-sticky {
  padding-bottom:96px;
  padding-bottom:calc(constant(safe-area-inset-bottom) + 96px);
  padding-bottom:calc(env(safe-area-inset-bottom) + 96px);
}

.details-info {
  font-size:0;
  dt, dd {
    display:inline-block;
    @include font-set14;
    vertical-align:top;
    &:nth-of-type(n+2) {
      margin-top:4px;
    }
  }
  dt {
    color:#787878;
  }
  dd {
    color:#505050;
    &.img-store {
      width:100%;
      margin-top:24px;
      padding:0;
      //padding:3.88888888889% 12.77777777778%;
      background-color:#e8e8e8;
      .inner {
        position:relative;
        padding-top:66.5625%;
        overflow:hidden;
      }
      img {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
      }
    }
  }
}

.loading {
  -webkit-animation: rotate .7s linear infinite;
  animation: rotate .7s linear infinite;
  @-webkit-keyframes rotate {
    100% {
      @include transform(rotate(360deg));
    }
  }
  @keyframes rotate {
    100% {
      @include transform(rotate(360deg));
    }
  }
}

//평점
.rate {
  @include font-set14;
  .star-rate {
    position:relative;
    width:84px;
    height:16px;
    margin:-4px 4px 0 0;
    @include iconImg($x:-100px,$y:-275px);
    span {
      position:absolute;
      top:0;
      left:0;
      height:100%;
      @include iconImg($x:-100px,$y:-300px);
    }
  }
}

// 지도
.map-area {
  width:100%;
  overflow:hidden;
  position:relative;
  background-color:rgba(0,0,0,.8); //임시
  color:$fc-invert; //임시
  .btn-research {
    position:absolute;
    top:16px;
    left:50%;
    height:32px;
    color:#282828;
    padding:0 15px;
    background-color:#fff;
    border:1px solid $line-color;
    border-radius:16px;
    z-index: 10;
    @include font-set12;
    @include transform(translateX(-50%));
  }
  .btn-location {
    position:absolute;
    bottom:20px;
    left:20px;
    width:48px;
    height:48px;
    z-index:1;
    img {
      width:100%;
      height:100%;
    }
  }
  .my-location {
    width:48px;
    height:48px;
    z-index:1;
    img {
      width:100%;
      height:100%;
    }
  }
  .pin {
    width:17px;
    height:24px;
    z-index:1;
    background: {
      image:url(~@/assets/images/common/ico_pin.svg);
      repeat:no-repeat;
      size:100% auto;
    }
    &.active {
      width:41px;
      height:56px;
      background: {
        image:url(~@/assets/images/common/ico_pin_on.svg);
        repeat:no-repeat;
        size:100% auto;
      }
    }
  }
}
.visit {
  em {
    display:block;
    margin-bottom:8px;
    font-weight:$fw-medium;
    color:#505050;
  }
  > li {
    margin-bottom:16px;
    &:last-of-type {
      margin-bottom:0;
    }
  }
}
.chart-box {
  position:relative;
  height:180px;
  margin:16px 0 24px;
  .chart-donut {
    position:absolute;
    top:50%;
    left:50%;
    margin:0 auto;
    @include transform(translate(-50%, -50%));
  }
}
.chart-donut {
  svg g path:first-child {
    filter: url(#shadow)
  }
}
