<div class="contents main" ref="contents">
  <h1 class="blind">{{ $t('shop.shop-detail') }}</h1>
  <div class="top-vis">
    <div class="thumb"><img src="../../../images/tfactory/zone13-top.jpg" alt=""></div>
    <h2 class="main-tit zone"><strong class="point-text">Apple Zone</strong></h2>
    <p class="desc">애플과 SK텔레콤의 협업으로 만들어진 아시아 최초 샵인샵 애플 스토어입니다.
      T Factory에서 애플 매장에 방문한 것처럼, 애플의 감성을 느껴보세요.
      애플 특유의 디자인 언어로 조성된 공간에서 iPhone, iPad, AirPods, Apple Watch 등 다양한 애플의 제품부터 정품 액세서리까지 만나보세요.</p></div>
  <article class="row details">
    <figure class="thumb"><img src="../../../images/tfactory/zone13-img1.jpg" alt=""></figure>
    <figure class="thumb"><img src="../../../images/tfactory/zone13-img2.jpg" alt=""></figure>
    <h3>바로 구매하기</h3>
    <p class="desc">이제 기다림없이 바로 구매하세요.
      상품을 계산대로 가져가지 않고도 휴대폰을 이용하여 바로 결제하실 수 있습니다.</p>
    <ol class="step-list">
      <li>판매 상품 포장 뒷면의 QR코드를 확인해주세요.</li>
      <li>휴대폰 카메라로 QR코드를 스캔하세요.</li>
      <li>연결된 페이지에서 T아이디로 로그인을 하고 일반결제 또는 SK Pay를 이용하여 결제를 해주세요.</li>
      <li>구매 완료! 결제하신 제품은 자동으로 보안이 해제되어 바로 매장 밖으로 가지고 나가실 수 있습니다. </li>
    </ol>
    <div class="img-floor">
      <h3>{{ $t('shop.location') }}</h3>
      <p class="location">2층 우측 공간</p>
      <div class="inner">
        <img src="../../../images/tfactory/zone-2f.jpg" alt="">
        <div class="pins">
          <img src="../../../images/tfactory/zone13-pin.png" alt="">
        </div>
      </div>
    </div>
  </article>

  <div class="row">
    <h3 class="subtit"><strong class="point-text">T Factory</strong>{{ $t('shop.tour') }}</h3>
    <div class="scroll-wrap">
      <ul class="list-main scroll">
        <li>
          <a href="/shop/detail/store19">
            <div class="thumb"><img src="../../../images/tfactory/zone19-top.jpg" alt=""></div>
            <em>T Factory 24</em>
            <p class="subtext">내스마트폰을 구매하고 구독형 상품을 언제나 만나볼 수 있는 24시간 무인 매장</p>
          </a>
        </li>
        <li>
          <a href="/shop/detail/store15">
            <div class="thumb"><img src="../../../images/tfactory/zone15-top.jpg" alt=""></div>
            <em>Accessory Zone</em>
            <p class="subtext">0(Young) 피플의 잇템, 스마트폰 액세서리 쇼핑 공간</p>
          </a>
        </li>
        <li>
          <a href="/shop/detail/store3">
            <div class="thumb"><img src="../../../images/tfactory/zone3-top.jpg" alt=""></div>
            <em>Flex Stage</em>
            <p class="subtext">빠르게 변화하는 IT 트렌드를 만나볼 수 있는 메인 공간</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- program -->
  <div class="row programs">
    <h3 class="subtit">{{ $t('shop.program-title') }} <strong class="point-text">Class</strong></h3>
    <div class="scroll-wrap">
      <ul class="list-program scroll">
        <li v-for="crewClass in classList">
          <a :href="crewClass.PROGRAM_CLASS_LINK_URL + '?classId=' + crewClass.PROGRAM_CLASS_ID">
            <div class="lector">
              <span class="img"><img :src="crewClass.PROGRAM_TUTOR_IMAGE_URL" alt=""></span>
              <p class="cate"><span>{{crewClass.PROGRAM_CLASS_THUMBNAIL_TILE}}</span>{{crewClass.PROGRAM_CLASS_THUMBNAIL_SUBTITLE}}</p>
            </div>
            <div class="thumb"><img :src="crewClass.PROGRAM_CLASS_THUMBNAIL_IMAGE_URL" alt=""></div>
            <p class="tit">{{crewClass.PROGRAM_CLASS_NAME}}</p>
            <p class="subtext">{{crewClass.PROGRAM_CLASS_SCHEDULE_GUIDE}}</p>
            <!--            <span class="flag-basic">모집중</span>-->
          </a>
        </li>
      </ul>
      <div class="btn-wrap">
        <a v-if="classList.length > 4" href="#" class="btn-more small"><span class="blind">더 보기</span></a>
      </div>
    </div>
  </div>
</div>
