<div class="contents bottom-sticky" ref="contents">
  <div :class="'booking-header'" :style="{'background-image': storeImageUrl }">
    <h2 class="blind">{{ $t('sev.shop-info') }}</h2>
    <div class="store">
      <dl class="info">
        <dt>{{ storeInfo.NAME }}</dt>
        <dd>{{ storeInfo.ROAD_ADDR }}</dd>
      </dl>
      <a class="btn-map" @click.prevent="clickReadMap"><span class="blind">{{ $t('sev.read-map') }}</span></a>
    </div>
  </div>

  <section class="row booking-contents">
    <div class="tit-wrap">
      <h3 class="subtit">
        프로그램 선택
      </h3>
    </div>
    <p>{{ programInfo.PROGRAM_CLASS_NAME }}</p>
  </section>

  <section class="row booking-contents">
    <div class="tit-wrap">
      <h3 class="subtit">날짜/시간</h3>
    </div>
    <p class="text-sel">{{ programInfo.PROGRAM_CLASS_SCHEDULE_GUIDE }}</p>
    <p class="texts-info" v-html="$t('sev.date-info2')"></p>
  </section>

  <section class="row booking-contents">
    <div class="tit-wrap">
      <h3 class="subtit"><label for="attendee-num">참여인원<span class="required"><span class="blind">{{ $t('comm.required') }}</span></span></label></h3>
    </div>
    <div class="form-group">
      <ui-select
        id="attendee-num"
        v-model="attendeeNum"
        :data="attendeeList"
      ></ui-select>
    </div>
    <div class="form-line"></div>
    <div class="tit-wrap">
      <h3 class="subtit">
        <label for="info1-2">{{ $t('sev.contact-number') }}<span class="required"><span class="blind">{{ $t('comm.required') }}</span></span></label>
      </h3>
    </div>
    <p class="texts-info" v-html="$t('sev.applicant-info-guide2')"></p>
    <div class="form-group">
      <div class="input-box mobile">
        <ui-select
          v-model="firstNum"
          :data="[
              {text: '010', value: '010'},
              {text: '011', value: '011'},
              {text: '017', value: '017'},
              {text: '019', value: '019'},
            ]"
          class="reverse"
        ></ui-select>
        <input v-model="lastNum" ref="certification" type="tel" maxlength="8" id="info1-2" :placeholder="$t('comm.only-number')">
      </div>
    </div>
  </section>

  <div class="btn-wrap sticky">
    <a v-if="programInfo.SURVEY_YN" class="btn-solid big" @click.prevent="next('survey')">{{ $t('comm.next') }}</a>
    <a v-else class="btn-solid big" @click.prevent="next('apply')">{{ $t('comm.application') }}</a>
  </div>
</div>
