<section class="main-tag">
  <h1 class="main-tit"><span class="blind">my tag</span></h1>
  <!-- tag -->
  <div class="tag-wrap">
    <div class="tag-header">
      <div class="user">
        <a v-if="nickname" class="name" @click.prevent="changeName">{{nickname}}</a>
        <a v-else class="name" @click.prevent="changeName">{{userInfo.NAME}}</a>

        <span v-if="selectedNumber" v-model="selectedNumber" class="mobile">{{selectedNumber}}</span>

        <!-- 취향 서베이 없을 경우 -->
        <a v-if="myTag.length === 0" class="btn-survey" @click.prevent="openMyTag"
           v-html="$t('main.tag-description')"></a>

        <!-- 취향 서베이 있을 경우 -->
        <a v-if="myTag.length > 0" class="tags" @click.prevent="openMyTag">
          <span v-for="tag in myTag" class="flag-type">{{tag.NAME}}</span>
        </a>
      </div>
      <div class="qr">
        <a @click.prevent="clickQR">
          <qrcode-vue :value="oneTimeCertKey"></qrcode-vue>
        </a>
      </div>
    </div>
  </div>

  <!-- banner -->
  <div v-if="hasNoti" class="noti">
    <swiper :options="{
      slidesPerView: 1,
      spaceBetween: 20,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false
      },
      loop: false,
      pagination: {
        el: '.swiper-pagination'
      }
    }" ref="notiSwiper">

      <!-- 취향 서베이 유도 -->
      <swiper-slide v-if="updateMyTag">
        <a>
          <p class="desc">#Tag 선택하시고<br> 맞춤 정보를 이용해보세요!</p>
        </a>
      </swiper-slide>

      <!-- 오늘 예약 -->
      <swiper-slide :key="booking.BOOK_ID" v-if="todayBooking.length > 0" v-for="booking in todayBooking">
        <a @click.prevent="clickBookingDetail(booking.BOOK_ID, booking.TYPE)">
          <div class="desc">
            <span class="date">{{booking.DATE}} </span>
            <span class="code">{{booking.STORE_NAME}} {{booking.ZONE_NAME}}</span>
            <p v-if="booking.TYPE === 'counseling'">{{booking.COUNSELING_NAME}} [{{booking.BOOK_CODE}}]</p>
            <p v-if="booking.TYPE === 'program'">{{booking.PROGRAM_CLASS_NAME}} [{{booking.BOOK_CODE}}]</p>
          </div>
        </a>
      </swiper-slide>

      <!-- T아이디 전환 -->
      <swiper-slide v-if="mdnUserFlag">
        <a href="#" @click.prevent="tidMigration">
          <p class="desc">T아이디로 바꾸고<br>SK텔레콤의 모든 서비스를 이용해보세요!</p>
        </a>
      </swiper-slide>

      <!-- 다른날 예약 -->
      <swiper-slide :key="booking.BOOK_ID" v-if="otherDayBooking.length > 0" v-for="booking in otherDayBooking">
        <a @click.prevent="clickBookingDetail(booking.BOOK_ID, booking.TYPE)">
          <div class="desc">
            <span class="date">{{booking.DATE}} </span>
            <span class="code">{{booking.STORE_NAME}} {{booking.ZONE_NAME}}</span>
            <p v-if="booking.TYPE === 'counseling'">{{booking.COUNSELING_NAME}} [{{booking.BOOK_CODE}}]</p>
            <p v-if="booking.TYPE === 'program'">{{booking.PROGRAM_CLASS_NAME}} [{{booking.BOOK_CODE}}]</p>          </div>
        </a>
      </swiper-slide>

      <!--      &lt;!&ndash; type3: 사후 플랜 &ndash;&gt;-->
      <!--      <swiper-slide>-->
      <!--        <a>-->
      <!--          <p class="desc" v-html="$t('main.tag-notice2')">구매하신 휴대폰을 더 잘 사용할 수 있는<br> 부가서비스를 확인해보세요!</p>-->
      <!--        </a>-->
      <!--      </swiper-slide>-->
      <!--// 09.18 취향 서베이 유도 추가 및 노출 순서 변경 -->
      <div class="swiper-pagination type2" slot="pagination"></div>
    </swiper>
  </div>

  <!-- tabs -->
  <div class="tab-wrap">
    <ul class="tabs-page">
      <li :class="{'active': isTabActive[0]}"><a @click.prevent="clickTab(0)">{{ $t('main.tab-title1') }}</a></li>
      <li :class="{'active': isTabActive[1]}"><a @click.prevent="clickTab(1)">{{ $t('main.tab-title2') }}</a></li>
    </ul>

    <section class="recomm" v-if="isTabActive[0]">
      <h2 class="blind">{{ $t('main.tab-title1') }}</h2>
      <div class="recomm-inner">
        <ul class="recomm-list">
          <!-- 방문 완료 시 input class="disabled" -->
          <li v-if="recommendList[0]">
            <input :class="{'disabled': recommendList[0].CHECK_YN}" type="radio" name="recomm1" id="recomm1-1"
                   @change="changePoint(0)" checked>
            <label for="recomm1-1">{{recommendList[0].RECOMMEND}}</label>
          </li>
          <li v-if="recommendList[1]">
            <input :class="{'disabled': recommendList[1].CHECK_YN}" type="radio" name="recomm1" id="recomm1-2"
                   @change="changePoint(1)">
            <label for="recomm1-2">{{recommendList[1].RECOMMEND}}</label>
          </li>
          <li v-if="recommendList[2]">
            <input :class="{'disabled': recommendList[2].CHECK_YN}" type="radio" name="recomm1" id="recomm1-3"
                   @change="changePoint(2)">
            <label for="recomm1-3">{{recommendList[2].RECOMMEND}}</label>
          </li>
        </ul>
        <div class="maps">
          <div class="floor1"> <!-- 활성화 .active -->
            <h3>1F</h3>
            <div class="img-floor">
              <img src="../../images/main/F1_Map.png" alt="">
              <img v-if="recommendListByFloor[1]" v-for="recommend in recommendListByFloor[1]"
                   :src="recommend.ZONE_MARKER_IMAGE_URL" class="pin" :class="{active: isActivePoint[recommend.INDEX]}">
            </div>
          </div>
          <div class="floor2">
            <h3>1.5F</h3>
            <div class="img-floor">
              <img src="../../images/main/F1.5_Map.png" alt="">
              <img v-if="recommendListByFloor[1.5]" v-for="recommend in recommendListByFloor[1.5]"
                   :src="recommend.ZONE_MARKER_IMAGE_URL" class="pin" :class="{active: isActivePoint[recommend.INDEX]}">
            </div>
          </div>
          <div class="floor3">
            <h3>2F</h3>
            <div class="img-floor">
              <img src="../../images/main/F2_Map.png" alt="">
              <img v-if="recommendListByFloor[2]" v-for="recommend in recommendListByFloor[2]"
                   :src="recommend.ZONE_MARKER_IMAGE_URL" class="pin" :class="{active: isActivePoint[recommend.INDEX]}">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="log" v-else-if="isTabActive[1]">
      <h2 class="blind">{{ $t('main.tab-title2') }}</h2>
      <div v-for="(date, dateIndex) in historyDate" class="log-history">
        <button class="btn-log" :class="{active: !isActiveLog[dateIndex]}" @click.prevent="clickLog(dateIndex)">{{date}}
          <span v-if="date === today" class="today">today</span></button>
        <div class="log-inner" :class="{active: isActiveLog[dateIndex]}">
          <h3 class="log-tit">
            <button class="btn-log" @click.prevent="clickLog(dateIndex)">{{date}}
              <span v-if="date === today" class="today">today</span>
            </button>
          </h3>
          <ul>
            <li v-if="!history.DISABLE" v-for="history in historyList[date]">
              <div class="thumb-zone">
                <img v-if="history.ICON_IMAGE_URL" :src="history.ICON_IMAGE_URL" alt="">
                <img v-else src="../../images/main/zone-default.svg" alt="">
              </div>
              <!-- 10.06 default image 수정 -->
              <div class="detail">
                <p v-if="history.EXP_CODE === 'EXP_TPA_DQR' && historyDqr[dateIndex] > 1">{{history.PET_NAME}} 외
                  {{historyDqr[dateIndex] - 1}}개 구경했습니다.</p>
                <p v-else-if="history.EXP_CODE === 'EXP_DCK_FVD' && historyFvd[dateIndex] > 1">{{history.PET_NAME}} 외
                  {{historyFvd[dateIndex] - 1}}개 관심 상품으로 저장했습니다.</p>
                <p v-else>{{history.MESSAGE}}</p>
                <span class="time">{{history.TIME}}</span>
              </div>
              <span @click.prevent="clickLikeTimeline(history.TIMELINE_ID, history.LIKE_YN, date)" class="btn-favorite">
                <input :checked="historyLike[history.TIMELINE_ID]" type="checkbox" id="favorite1">
                <label for="favorite1" class="blind">{{ $t('prd.favorite') }}</label>
              </span>
              <a v-on:click="goLandingURL(history.LANDING_URL)" v-if="history.TYPE === 'text'" class="type-btn">{{history.BUTTON}}</a>
              <figure v-if="history.TYPE === 'image' && history.IMAGE_URL">
                <div v-on:click="goLandingURL(history.LANDING_URL)">
                  <img style="mix-blend-mode: multiply" :src="history.IMAGE_URL">
                </div>
                <figcaption v-if="history.EXP_CODE === 'EXP_TPA_DQR'">{{history.PET_NAME}}</figcaption>
                <figcaption v-if="history.EXP_CODE === 'EXP_DCK_FVD'">{{history.PET_NAME}}</figcaption>
              </figure>
            </li>
            <!-- 09.18 추가: 타이틀 + 텍스트 케이스 -->
            <!--            <li>-->
            <!--              <div class="thumb-zone"><img src="../../images/dummy/@thumb-zone.png" alt=""></div>-->
            <!--              <div class="detail">-->
            <!--                <p>FLO 취향저격 Playlist 감상</p>-->
            <!--                <span class="time">15:20</span>-->
            <!--                <p class="texts">텍스트를 출력합니다. 텍스트를 출력합니다.텍스트를 출력합니다.</p>-->
            <!--              </div>-->
            <!--              <span class="btn-favorite">-->
            <!--                 <input type="checkbox" id="favorite10"><label for="favorite10"-->
            <!--                                                               class="blind">{{ $t('prd.favorite') }}</label>-->
            <!--                </span>-->
            <!--            </li>-->
            <!--// 09.18 추가: 타이틀 + 텍스트 케이스 -->
          </ul>
        </div>
      </div>

      <!-- 09.18 추가: 체크인 이력 없을 경우 -->
      <p v-if="JSON.stringify(historyList) === '{}'" class="no-content" v-html="$t('main.history-none')">
        T Factory 체크인 이력이 없어요
        <span>T Factory를 다양하게 체험해 보고,<br>나만의 타임라인을 만들어보세요.</span>
      </p>
      <!--// 09.18 추가: 체크인 이력 없을 경우 -->
    </section>
  </div>
</section>
