<nav class="nav">
  <div class="nav-header">
    <h1 class="main-tit"><span class="blind">MENU</span></h1>
  </div>

  <!-- 09.08 수정: 마크업 위치 이동 -->
  <div class="nav-user">
    <!-- 로그인 전 -->
    <a v-on:click="tidLoginRedirect" v-if="!isLogin">
      <h2 class="tit">{{ $t('comm.login-text-before') }}</h2>
    </a>
    <!-- 로그인 후 -->
    <a v-else href="/member">
      <h2 class="tit">
        <em v-if="myInfo.NICKNAME" class="usr-name">{{myInfo.NICKNAME}} {{ $t('comm.customer') }},</em>
        <em v-else class="usr-name">{{myInfo.NAME}} {{ $t('comm.customer') }},</em>
        {{$t('comm.login-text-after')}}</h2>
    </a>
  </div>
  <!--// 09.08 수정: 마크업 위치 이동 -->

  <div class="nav-contents">
    <ul class="list-utils">
      <li><a @click.prevent="clickPurchaseList"><i class="ico-order"></i>{{ $t('comm.order') }}</a></li>
      <li><a @click.prevent="clickMyWish"><i class="ico-wish"></i>{{ $t('comm.wish') }}</a></li>
      <li><a @click.prevent="clickCouponList"><i class="ico-coupon"></i>{{ $t('comm.coupon-management') }}</a></li>
      <li><a @click.prevent="clickMyReservation"><i class="ico-booking"></i>{{ $t('comm.reservation-list') }}</a></li>
<!--      <li><a @click.prevent="clickFaceRegist"><i class="ico-chkin"></i>{{ $t('comm.checkin') }}</a></li>-->
      <li><a @click.prevent="clickMenu('setting')"><i class="ico-setting"></i>{{ $t('comm.setting') }}</a></li>
    </ul>
<!--    <ul class="list-menu">-->
<!--      <li><a @click.prevent="clickMenu('event')">{{ $t('comm.event') }}</a></li>-->
<!--      <li><a @click.prevent="clickMenu('store')">{{ $t('comm.find-store') }}</a></li>-->
      <!--      <li><a @click.prevent="clickMenu('service')">{{ $t('comm.service-center') }}</a></li>-->
<!--      <li><a @click.prevent="clickMenu('setting')">{{ $t('comm.setting') }}</a></li>-->
<!--    </ul>-->
  </div>
  <!--  <div class="banner">-->
  <!--    <a><img src="../../images/dummy/@banner.jpg" alt=""></a>-->
  <!--  </div>-->
</nav>
