<section class="main-store">
  <h1 class="main-tit"><span class="blind">T FACTORY</span>
    <a @click.prevent="clickFlagshipDetail" ref="button" class="btn-store">
      <span class="blind">{{ $t('main.button-text-store') }}</span></a>
  </h1>
  <div class="store-inner">
    <!-- 09.08 수정 -->
    <div class="swiper-top">
      <swiper :options="storeSwiperOption">
        <swiper-slide>
          <div class="thumb"><img src="../../images/main/Store-01.png" alt=""></div>
          <div class="info">
<!--            <p class="desc">SKT<br>New Flagship<br>Store</p>-->
            <a @click.prevent="clickFlagshipBook" class="btn-booking">{{ $t('main.button-text-booking') }}</a>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="thumb"><img src="../../images/main/Store-02.png" alt=""></div>
          <div class="info">
            <!--            <p class="desc">SKT<br>New Flagship<br>Store</p>-->
            <a @click.prevent="clickFlagshipBook" class="btn-booking">{{ $t('main.button-text-booking') }}</a>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="thumb"><img src="../../images/main/Store-03.png" alt=""></div>
          <div class="info">
            <!--            <p class="desc">SKT<br>New Flagship<br>Store</p>-->
            <a @click.prevent="clickFlagshipBook" class="btn-booking">{{ $t('main.button-text-booking') }}</a>
          </div>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </div>
    <!--// 09.08 수정 -->

    <!-- AI picks -->
    <div v-if="AIPickFlag" class="ai-picks">
      <h2 class="subtit">
        <span class="ico-ai"><span class="blind">Ai PICKS</span></span>
        {{ $t('main.ai-title1') }}<br>
        <span v-if="isLogin && !myInfo.NICKNAME">{{myInfo.NAME}}</span>
        <span v-if="isLogin && myInfo.NICKNAME">{{myInfo.NICKNAME}}</span>
        {{ $t('main.ai-title2') }}
      </h2>

      <!-- 09.08 수정 -->
      <!-- 로그인 / 실명회원 -->
      <div v-if="isLogin && AIPickFlag" class="ai-login active"> <!-- 활성화 .active -->
        <router-link :to="{ name: 'Product', params: { productId: deviceInfo.productGrpid }}">
          <div class="thumb">
            <img :src="deviceImg" alt="">
          </div>
          <div class="info">
            <p>{{deviceInfo.modelName}}</p>
            <div class="flag-wrap">
              <span v-for="tag in deviceInfo.tagNms" class="flag-basic">{{tag}}</span>
            </div>
          </div>
        </router-link>
      </div>

      <!-- 로딩중 -->
      <div v-if="isLogin && !AIPickFlag" class="ai-loading active"> <!-- 활성화 .active -->
        <div class="loader">
          <span></span>
          <span></span>
        </div>
      </div>

      <!-- 로그아웃 -->
      <div v-if="isLogin == false" @click.prevent="clickLogin" class="ai-logout active"></div> <!-- 활성화 .active -->
      <!--// 09.08 수정 -->
    </div>

    <!-- 인기 휴대폰 -->
    <div class="best-prd">
      <h2 class="subtit">{{ $t('main.best-mobile') }}</h2>
      <swiper :options="bestSwiperOption" ref="bestSwiper">
        <swiper-slide v-for="device in saleRank" v-bind:key="device.sales_rank">
          <a @click.prevent="clickDeviceDetail(device.product_grp_id)">
            <div class="thumb">
              <figure>
                <img style="mix-blend-mode: multiply" :src="device.deviceImg">
              </figure>
            </div>
            <p>{{device.modelName}}</p>
          </a>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</section>
