<section class="main-program">
  <h1 class="main-tit"><span class="blind">Program</span></h1>

  <!-- 09.08 수정 -->
  <div class="swiper-top">
    <swiper :options="programSwiperOption" ref="programSwiper">
      <swiper-slide>
        <a :href="mainBannerUrl[0]">
          <figure>
            <img src="../../images/main/201211_03.png" alt="">
            <figcaption>
              <!--              <span class="flag-type1">program</span>-->
              <!--              <h2 class="tit">스마트폰<br> 인물사진 비법</h2>-->
              <!--              <p class="desc">스마트폰 인물사진 비법</p>-->
            </figcaption>
          </figure>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a :href="mainBannerUrl[1]">
          <figure>
            <img src="../../images/main/201211_02.png" alt="">
            <figcaption>
              <!--              <span class="flag-type1">program</span>-->
              <!--              <h2 class="tit">스마트폰<br> 인물사진 비법</h2>-->
              <!--              <p class="desc">스마트폰 인물사진 비법</p>-->
            </figcaption>
          </figure>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a :href="mainBannerUrl[2]">
          <figure>
            <img src="../../images/main/201211_01.png" alt="">
            <figcaption>
              <!--              <span class="flag-type1">program</span>-->
              <!--              <h2 class="tit">스마트폰<br> 인물사진 비법</h2>-->
              <!--              <p class="desc">스마트폰 인물사진 비법</p>-->
            </figcaption>
          </figure>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#">
          <figure>
            <img src="../../images/main/201211_00.png" alt="">
            <figcaption>
              <!--              <span class="flag-type1">program</span>-->
              <!--              <h2 class="tit">스마트폰<br> 인물사진 비법</h2>-->
              <!--              <p class="desc">스마트폰 인물사진 비법</p>-->
            </figcaption>
          </figure>
        </a>
      </swiper-slide>
      <div class="swiper-pagination"  slot="pagination"></div>
    </swiper>
  </div>
  <!--// 09.08 수정 -->

  <!-- 12.04 추가 -->
<!--  <div class="row">-->
<!--    <div class="banner type1">-->
<!--      <a href="#"><img src="../../images/main/banner-01.png" alt=""></a>-->
<!--    </div>-->
<!--  </div>-->

  <div class="list-program">
    <h2 class="subtit">{{ $t('main.in-progress-program') }}</h2>
    <ul>
      <li v-if="programClassList.length > 0" v-for="program in programClassList">
        <a :href="program.PROGRAM_CLASS_LINK_URL + '?classId=' + program.PROGRAM_CLASS_ID">
          <div class="thumb">
            <img :src=program.PROGRAM_CLASS_THUMBNAIL_IMAGE_URL alt="">
            <p class="lector">{{program.PROGRAM_CLASS_THUMBNAIL_TILE}}<span>{{program.PROGRAM_CLASS_THUMBNAIL_SUBTITLE}}</span></p>
          </div>
          <div class="info">
            <p class="tit">{{program.PROGRAM_CLASS_CATEGORY}}<br>{{program.PROGRAM_CLASS_NAME}}</p>
            <p class="date">{{program.PROGRAM_CLASS_SCHEDULE_GUIDE}}</p>
            <div class="tags">
              <span v-for="tag in program.PROGRAM_CLASS_TAGS"class="flag-basic">{{tag}}</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
