<section class="popup">
  <header>
    <h1>{{ $t('mytag.select-mobile') }}</h1>
    <a class="btn-close" @click.prevent="$emit('close')"><span class="blind">{{ $t('comm.close') }}</span></a>
  </header>
  <div class="layer-cont">
    <ul class="list-mobile">
      <li v-for="line in lineList"><input type="radio" name="mobile1" :id="'mobile1-' + line"
                                            v-model="MDN" :value=line.MDN><label for="'mobile1-' + line">
        {{line.MDN | mdnFilter}}
        <span v-if="line.REPRESENT_YN">(대표회선)</span>
      </label></li>
    </ul>
  </div>
  <footer class="btn-wrap">
    <a class="btn-solid big" @click="clickConfirm">{{ $t('comm.confirm') }}</a>
  </footer>
</section>
